[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
	active = true
	ignore = dirty
[submodule "meta/plugins/dotbot-snap"]
	path = meta/plugins/dotbot-snap
	url = https://github.com/DrDynamic/dotbot-snap.git
	active = true
	ignore = dirty
[submodule "meta/plugins/dotbot-template"]
	path = meta/plugins/dotbot-template
	url = https://github.com/ssbanerje/dotbot-template.git
	active = true
	ignore = dirty
[submodule "meta/plugins/dotbot-git"]
	path = meta/plugins/dotbot-git
	url = https://github.com/DrDynamic/dotbot-git.git
[submodule "meta/plugins/dotbot-sudo"]
	path = meta/plugins/dotbot-sudo
	url = https://github.com/DrDynamic/dotbot-sudo.git
[submodule "meta/plugins/dotbot-aptget"]
	path = meta/plugins/dotbot-aptget
	url = https://github.com/dein0s/dotbot_plugin_aptget.git
[submodule "meta/plugins/dotbot-pip"]
	path = meta/plugins/dotbot-pip
	url = https://github.com/sobolevn/dotbot-pip.git
[submodule "meta/plugins/dotbot-apt"]
	path = meta/plugins/dotbot-apt
	url = https://github.com/bryant1410/dotbot-apt
