[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
	active = true
	ignore = dirty
[submodule "meta/plugins/dotbot-snap"]
	path = meta/plugins/dotbot-snap
	url = https://github.com/DrDynamic/dotbot-snap.git
	active = true
	ignore = dirty
[submodule "meta/plugins/dotbot-template"]
	path = meta/plugins/dotbot-template
	url = https://github.com/ssbanerje/dotbot-template.git
	active = true
	ignore = dirty
[submodule "shells/bash/oh-my-bash"]
	path = shells/bash/oh-my-bash
	url = https://github.com/ohmybash/oh-my-bash.git
[submodule "shells/zsh/oh-my-zsh"]
	path = shells/zsh/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
